@page
@model IndexModel

<h1>Home Page</h1>

<form method="post">
    <div>
        <label for="inputText">Enter Text:</label>
        <input type="text" id="inputText" name="inputText" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>