@page
@model TypeAssignModel
@{
    ViewData["Title"] = "Type Assignment";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mb-4 text-center">Type Assignment</h1>            
            <p class="text-center">This page is under construction. Please check back later.</p>
        </div>
    </div>
</div>